body
{
    background-color: #249ef4;
    font-family: monospace;
    font-size: 14pt;
    font-family: times;
    color: #222;
}

button
{
    font-family: times;
    font-size: 14pt;
    margin:4px;
    margin-right: -7px;
    background: #adf;
    border-style: none;
    min-height: 25px;
    min-width: 45px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover
{
    background-color: #63b7f2;
}

#optionsDiv
{
    margin-left: 0;
}

.interfaceContainer
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 382px;
    height: 445px;
    background-color: aliceblue;
    padding: 8px;
    box-shadow: 0px 0px 32px 0px #124f7a;
    border-radius: 6px;
}

.answerBoxes
{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.answerBox
{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: black;
    color: black;
    display: inline-block;
    width: 60pt;
    margin: 8px;
    cursor: pointer;
}

.buttonGroup
{
    border-style: solid;
    border-width: thin;
    border-color: #666;
    border-radius: 3px;
    padding: 2px;
    padding-right: 12px;
    margin: 5px;
}

#playButtonsContainer
{
    text-align: center;
}

.playButtons
{
    font-size: 32pt;
    padding-left: 12px;
    padding-right: 10px;
    margin: 8px;
}

#mockSelectedAnswerBox
{
    box-shadow: 0px 0px 0px 6px #249ef4;
    background-color: #249ef4;
    border-color: white;
    color: white;
}

.mousedOverAnswerBox
{
    box-shadow: 0px 0px 3px;
    background-color: white;
}

.settingsTitle
{
    font-size: 2em;
    margin-left: 6px;
    margin-bottom: 5px;
}

/* Note that scrollbar width is supported differently in FF vs others */
.settingsScrollBox
{
    height: 360px;
    overflow-y: auto;
    background: #dceefa;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.settingParameters
{
    padding: 6px;
    font-family: sans-serif;
    font-size: 0.9em;
}